<!doctype html>
<html lang="ar" dir="rtl">

<!-- Sweet Alert 2-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="~/img/fav.png">

    <!-- Title -->
    <title>منصة إقرأ</title>


    <script src="~/js/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>



    <!-- *************
        ************ Common Css Files *************
    ************ -->
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">

    <!-- Icomoon Font Icons css -->
    <link rel="stylesheet" href="~/fonts/style.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/css/main-rtl.css">




    <!-- *************
        ************ Vendor Css Files *************
    ************ -->
    <!-- Mega Menu -->
    <link rel="stylesheet" href="~/vendor/megamenu/css/megamenu.css">

    <!-- Search Filter JS -->
    <link rel="stylesheet" href="~/vendor/search-filter/search-filter.css">
    <link rel="stylesheet" href="~/vendor/search-filter/custom-search-filter.css">

    <!-- Uploader CSS -->
    <link rel="stylesheet" href="~/vendor/dropzone/dropzone.min.css" />

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="~/vendor/bs-select/bs-select.css" />

    <!-- Plugins Customization RTL -->
    <link rel="stylesheet" href="~/css/plugins-rtl.css">


    <!-- Data Tables -->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4.css" />
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bs4-custom.css" />
    <link href="~/vendor/datatables/buttons.bs.css" rel="stylesheet" />


</head>
<body>

    <!-- Page wrapper start -->
    <div class="page-wrapper">

        <!-- Sidebar wrapper start -->
        <nav class="sidebar-wrapper">

            <!-- Default sidebar wrapper start -->
            <div class="default-sidebar-wrapper">

                <!-- Sidebar brand starts -->
                <div class="default-sidebar-brand">
                    <div class="justify-content-center d-flex">
                        <a href="index.html" class="logo">
                            <img src="~/img/logo.png" alt="كفاءة" />
                        </a>
                    </div>

                </div>
                <!-- Sidebar brand starts -->
                <!-- Sidebar menu starts -->
                <div class="defaultSidebarMenuScroll">
                    <div class="default-sidebar-menu">
                        <ul>
                            <li>
                                <a asp-action="Index" asp-controller="Home">
                                    <i class="icon-home2"></i>
                                    <span class="menu-text"> الرئيسية</span>
                                </a>
                            </li>
                            <li class="default-sidebar-dropdown">
                                <a href="#">
                                    <i class="icon-clipboard"></i>
                                    <span class="menu-text"> الكتب</span>
                                </a>
                                <div class="default-sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="#"> بحث الكتب</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                            @if (User.IsInRole("مشرف"))
                            {
                                <li class="default-sidebar-dropdown">
                                    <a href="#">
                                        <i class="icon-clipboard"></i>
                                        <span class="menu-text">قائمة المشرف</span>
                                    </a>
                                    <div class="default-sidebar-submenu">
                                        <ul>
                                            <li>
                                                <a href="/Dashboard/Index">ادارة المستخدمين</a>
                                            </li>
                                            <li>
                                                <a href="/Requests/Index">عرض الطلبات</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }

                            @if (User.IsInRole("كاتب"))
                            {
                                <li class="default-sidebar-dropdown">
                                    <a href="#">
                                        <i class="icon-clipboard"></i>
                                        <span class="menu-text">قائمة الكاتب</span>
                                    </a>
                                    <div class="default-sidebar-submenu">
                                        <ul>
                                            <li>
                                                <a href="/Books/Index">قائمة الكتب</a>
                                            </li>
                                            <li>
                                                <a href="#">احصائيات الكتب</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>
                </div>
                <!-- Sidebar menu ends -->

            </div>
            <!-- Default sidebar wrapper end -->

        </nav>
        <!-- Sidebar wrapper end -->
        <!-- Sidebar wrapper end -->
        <!-- *************
            ************ Main container start *************
        ************* -->
        <div class="main-container">

            <!-- Page header starts -->
            <div class="page-header">

                <!-- Row start -->
                <div class="row gutters">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-6 col-9">

                        <!-- Search container start -->
                        <div class="search-container">

                            <!-- Toggle sidebar start -->
                            <div class="toggle-sidebar" id="toggle-sidebar">
                                <i class="icon-menu"></i>
                            </div>
                            <!-- Toggle sidebar end -->
                            <!-- Mega Menu Start -->
                            <div class="cd-dropdown-wrapper">
                                <a class="cd-dropdown-trigger" href="#0"><i class="icon-menu menu-icon"></i><span class="menu-text">Megamenu</span></a>
                                <nav class="cd-dropdown">

                                    <ul class="cd-dropdown-content">

                                        <li class="has-children">
                                            <a href="#">Main Pages</a>
                                            <ul class="cd-secondary-dropdown is-hidden">
                                                <li class="has-children">
                                                    <a href="#">Dashboards</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="reports.html">Reports</a>
                                                        </li>
                                                        <li>
                                                            <a href="saas.html">Saas</a>
                                                        </li>
                                                        <li>
                                                            <a href="sales.html">Sales</a>
                                                        </li>
                                                        <li>
                                                            <a href="index.html">Admin</a>
                                                        </li>
                                                        <li>
                                                            <a href="analytics.html">Analytics</a>
                                                        </li>
                                                        <li>
                                                            <a href="crm.html">CRM</a>
                                                        </li>
                                                        <li>
                                                            <a href="consulting.html">Consulting</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="has-children">
                                                    <a href="#">Layouts</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="starter-page.html">Starter Page</a>
                                                        </li>
                                                        <li>
                                                            <a href="layout-full-screen.html">Full Screen</a>
                                                        </li>
                                                        <li>
                                                            <a href="layout-search.html">Global Search</a>
                                                        </li>
                                                        <li>
                                                            <a href="layout-megamenu.html">Megamenu</a>
                                                        </li>
                                                        <li>
                                                            <a href="layout-bradcrumb.html">Breadcrumbs</a>
                                                        </li>
                                                        <li>
                                                            <a href="layout-scroll-cards.html">Scroll Cards</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-children">
                                            <a href="#">Product &amp; Calendars</a>

                                            <ul class="cd-secondary-dropdown is-hidden">
                                                <li class="has-children">
                                                    <a href="#">Product</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="products.html">Products Grid</a>
                                                        </li>
                                                        <li>
                                                            <a href="products-list.html">Products List</a>
                                                        </li>
                                                        <li>
                                                            <a href="add-product.html">Add Product</a>
                                                        </li>
                                                        <li>
                                                            <a href="orders.html">Orders</a>
                                                        </li>
                                                        <li>
                                                            <a href="customers-list.html">Customers</a>
                                                        </li>
                                                        <li>
                                                            <a href="products-reviews.html">Reviews</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="has-children">
                                                    <a href="#">Calendars</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="calendar-daygrid-view.html">Daygrid View</a>
                                                        </li>
                                                        <li>
                                                            <a href="calendar-list-view.html">List View</a>
                                                        </li>
                                                        <li>
                                                            <a href="calendar-external-dragging.html">Draggable</a>
                                                        </li>
                                                        <li>
                                                            <a href="calendar-google-view.html">Google View</a>
                                                        </li>
                                                        <li>
                                                            <a href="calendar-selectable.html">Selectable</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-children">
                                            <a href="#">Forms</a>

                                            <ul class="cd-secondary-dropdown is-hidden">

                                                <li class="has-children">
                                                    <a href="#">Form Layouts</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="forms-layout-one.html">Default Layout</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-layout-two.html">Layout Sections</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-layout-three.html">Simple Form Layout</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-layout-four.html">Select 2 Tags and Mask</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-layout-five.html">Horizontal Form Layout</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-layout-six.html">Layout Six with Tabs</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="has-children">
                                                    <a href="#">Forms</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="forms-inputs.html">Form Inputs</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-input-groups.html">Input Groups</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-checkbox-radio.html">Checkbox &amp; Radios</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-validation.html">Form Validation</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-dropzone.html">Dropzone</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-bs-select.html">Select 2 Dropdowns</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-date-time-picker.html">Date Time Picker</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-input-mask.html">Input Mask</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-input-range.html">Input Range</a>
                                                        </li>
                                                        <li>
                                                            <a href="forms-editor.html">WYSIWYG Editor</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-children">
                                            <a href="#">Pages &amp; Components</a>

                                            <ul class="cd-secondary-dropdown is-hidden">

                                                <li class="has-children">
                                                    <a href="#">Pages</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="chat.html">Chat</a>
                                                        </li>
                                                        <li>
                                                            <a href="tasks.html">Tasks</a>
                                                        </li>
                                                        <li>
                                                            <a href="create-invoice.html">Create Invoice</a>
                                                        </li>
                                                        <li>
                                                            <a href="view-invoice.html">View Invoice</a>
                                                        </li>
                                                        <li>
                                                            <a href="documents.html">Documents</a>
                                                        </li>
                                                        <li>
                                                            <a href="faq.html">Faq's</a>
                                                        </li>
                                                        <li>
                                                            <a href="contacts.html">Contacts</a>
                                                        </li>
                                                        <li>
                                                            <a href="pricing.html">Pricing</a>
                                                        </li>
                                                        <li>
                                                            <a href="gallery-tiles.html">Gallery Tiles</a>
                                                        </li>
                                                        <li>
                                                            <a href="gallery.html">Gallery</a>
                                                        </li>
                                                        <li>
                                                            <a href="icons.html">Icons</a>
                                                        </li>
                                                        <li>
                                                            <a href="timeline.html">Timeline</a>
                                                        </li>
                                                        <li>
                                                            <a href="search-results.html">Search Results</a>
                                                        </li>
                                                        <li>
                                                            <a href="account-settings.html">Account Settings</a>
                                                        </li>
                                                        <li>
                                                            <a href="user-profile.html">User Profile</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="has-children">
                                                    <a href="#">Components</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="accordions.html">Accordions</a>
                                                        </li>
                                                        <li>
                                                            <a href="alerts.html">Alerts</a>
                                                        </li>
                                                        <li>
                                                            <a href="buttons.html">Buttons</a>
                                                        </li>
                                                        <li>
                                                            <a href="badges.html">Badges</a>
                                                        </li>
                                                        <li>
                                                            <a href="cards.html">Cards</a>
                                                        </li>
                                                        <li>
                                                            <a href="carousel.html">Carousel</a>
                                                        </li>
                                                        <li>
                                                            <a href="list-group.html">List group</a>
                                                        </li>
                                                        <li>
                                                            <a href="modals.html">Modal</a>
                                                        </li>
                                                        <li>
                                                            <a href="paginations.html">Paginations</a>
                                                        </li>
                                                        <li>
                                                            <a href="popovers.html">Popovers</a>
                                                        </li>
                                                        <li>
                                                            <a href="progress.html">Progress</a>
                                                        </li>
                                                        <li>
                                                            <a href="spinners.html">Spinners</a>
                                                        </li>
                                                        <li>
                                                            <a href="tabs.html">Tabs</a>
                                                        </li>
                                                        <li>
                                                            <a href="toasts.html">Toasts</a>
                                                        </li>
                                                        <li>
                                                            <a href="tooltips.html">Tooltips</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-children">
                                            <a href="#">Graphs &amp; Tables</a>

                                            <ul class="cd-secondary-dropdown is-hidden">

                                                <li class="has-children">
                                                    <a href="#">Graphs</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="apex-graphs.html">Apex Graphs</a>
                                                        </li>
                                                        <li>
                                                            <a href="morris-graphs.html">Morris Graphs</a>
                                                        </li>
                                                        <li>
                                                            <a href="vector-maps.html">Vector Maps</a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="has-children">
                                                    <a href="#">Tables</a>
                                                    <ul class="is-hidden">
                                                        <li>
                                                            <a href="bootstrap-tables.html">Bootstrap Tables</a>
                                                        </li>
                                                        <li>
                                                            <a href="custom-tables.html">Custom Tables</a>
                                                        </li>
                                                        <li>
                                                            <a href="data-tables.html">Data Tables</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="account-settings.html">Account Settings</a>
                                        </li>
                                        <li>
                                            <a href="login.html">Logout</a>
                                        </li>
                                        <li>
                                            <a href="error-option2.html">Error</a>
                                        </li>
                                    </ul>

                                </nav>
                            </div>
                            <!-- Mega Menu End -->
                            <!-- Search input group start -->
                            <div class="ui fluid category search">
                                <div class="ui icon input">
                                    <input class="prompt" type="text" placeholder="Search">
                                    <i class="search icon icon-search1"></i>
                                </div>
                                <div class="results"></div>
                            </div>
                            <!-- Search input group end -->

                        </div>
                        <!-- Search container end -->

                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-3">

                        <!-- Header actions start -->
                        <ul class="header-actions">
                            <li class="dropdown">
                                <a href="#" id="taskss" data-toggle="dropdown" aria-haspopup="true">
                                    <i class="icon-check-square"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end lrg" aria-labelledby="taskss">
                                    <div class="dropdown-menu-header">
                                        Tasks (7/10)
                                    </div>
                                    <div class="customScroll">
                                        <ul class="activity">
                                            <li class="activity-list">
                                                <div class="detail-info">
                                                    <p class="date">Today</p>
                                                    <p class="info">Messages accepted with attachments</p>
                                                </div>
                                            </li>
                                            <li class="activity-list danger">
                                                <div class="detail-info">
                                                    <p class="date">Today</p>
                                                    <p class="info">Send email notifications of subscriptions and deletions to list owner</p>
                                                </div>
                                            </li>
                                            <li class="activity-list success">
                                                <div class="detail-info">
                                                    <p class="date">Yesterday</p>
                                                    <p class="info">Required change logs activity reports</p>
                                                </div>
                                            </li>
                                            <li class="activity-list warning">
                                                <div class="detail-info">
                                                    <p class="date">2 Days Ago</p>
                                                    <p class="info">Strategic partnership plan</p>
                                                </div>
                                            </li>
                                            <li class="activity-list">
                                                <div class="detail-info">
                                                    <p class="date">2 days ago</p>
                                                    <p class="info">Send email notifications of subscriptions and deletions to list owner</p>
                                                </div>
                                            </li>
                                            <li class="activity-list danger">
                                                <div class="detail-info">
                                                    <p class="date">3 days ago</p>
                                                    <p class="info">Required change logs activity reports</p>
                                                </div>
                                            </li>
                                            <li class="activity-list success">
                                                <div class="detail-info">
                                                    <p class="date">7 days ago</p>
                                                    <p class="info">Strategic partnership plan</p>
                                                </div>
                                            </li>
                                            <li class="activity-list">
                                                <div class="detail-info">
                                                    <p class="date">2 weeks ago</p>
                                                    <p class="info">Required change logs activity reports</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
                                    <i class="icon-alert-triangle"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end lrg" aria-labelledby="notifications">
                                    <div class="dropdown-menu-header">
                                        Notifications (7)
                                    </div>
                                    <div class="customScroll">
                                        <ul class="header-notifications">
                                            <li>
                                                <a href="#">
                                                    <div class="user-img online">
                                                        <img src="/img/user6.png" alt="User">
                                                    </div>
                                                    <div class="details">
                                                        <div class="user-title">Larkyn</div>
                                                        <div class="noti-details">Check out every table in detail.</div>
                                                        <div class="noti-date">April 25, 04:00 pm</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="user-img busy">
                                                        <img src="img/user10.png" alt="User">
                                                    </div>
                                                    <div class="details">
                                                        <div class="user-title">Braxten</div>
                                                        <div class="noti-details">Approved new design.</div>
                                                        <div class="noti-date">April 10, 12:00 am</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="user-img away">
                                                        <img src="img/user21.png" alt="User">
                                                    </div>
                                                    <div class="details">
                                                        <div class="user-title">Maria</div>
                                                        <div class="noti-details">Membership has been ended.</div>
                                                        <div class="noti-date">March 20, 07:30 pm</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="user-img busy">
                                                        <img src="img/user15.png" alt="User">
                                                    </div>
                                                    <div class="details">
                                                        <div class="user-title">Alex</div>
                                                        <div class="noti-details">Design Review.</div>
                                                        <div class="noti-date">April 18, 09:30 am</div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <div class="user-img online">
                                                        <img src="img/user5.png" alt="User">
                                                    </div>
                                                    <div class="details">
                                                        <div class="user-title">Sunny</div>
                                                        <div class="noti-details">UI Discussion</div>
                                                        <div class="noti-date">April 21, 05:00 pm</div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                                    <span class="avatar">
                                        <img src="/img/user.svg" alt="User Avatar">
                                        <span class="status busy"></span>
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end md" aria-labelledby="userSettings">
                                    <div class="header-profile-actions">
                                        <a asp-action="Profile" asp-controller="Account"><i class="icon-user1"></i>الملف الشخصي</a>
                                        <a asp-action="Logout" asp-controller="Account"><i class="icon-log-out1"></i>تسجيل الخروج</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- Header actions end -->

                    </div>
                </div>
                <!-- Row end -->

            </div>
            <!-- Page header ends -->
            <!-- Content wrapper scroll start -->
            <div class="content-wrapper-scroll">

                <!-- Content wrapper start -->
                <div class="content-wrapper">

                    @RenderBody()

                </div>
                <!-- Content wrapper end -->
                <!-- App Footer start -->
                @if (User.IsInRole("مستخدم"))
                {
                    <div class="app-footer"><h5>هل انت كاتب؟ <a id="popModal">اعمل معنا</a></h5></div>
                }
                <!-- App footer end -->

            </div>
            <!-- Content wrapper scroll end -->

        </div>
        <!-- *************
            ************ Main container end *************
        ************* -->

    </div>


    <!-- Page wrapper end -->
    <!-- *************
        ************ Required JavaScript Files *************
    ************* -->
    <!-- *************
        ************ Vendor Js Files *************
    ************* -->
    <!-- Required jQuery first, then Bootstrap Bundle JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/moment.js"></script>


    <!-- Megamenu JS -->
    <script src="/vendor/megamenu/js/megamenu.js"></script>
    <script src="/vendor/megamenu/js/custom.js"></script>

    <!-- Slimscroll JS -->
    <script src="/vendor/slimscroll/slimscroll.min.js"></script>
    <script src="/vendor/slimscroll/custom-scrollbar.js"></script>

    <!-- Search Filter JS -->
    <script src="/vendor/search-filter/search-filter.js"></script>
    <script src="/vendor/search-filter/custom-search-filter.js"></script>

    <!-- Dropzone JS -->
    <script src="/vendor/dropzone/dropzone.min.js"></script>

    <!-- Bootstrap Select JS -->
    <script src="/vendor/bs-select/bs-select.min.js"></script>
    <script src="/vendor/bs-select/bs-select-custom.js"></script>

    <!-- Main Js Required -->
    <script src="/js/main.js"></script>

    <!-- Download / CSV / Copy / Print -->
    <script src="~/vendor/datatables/buttons.min.js"></script>
    <script src="~/vendor/datatables/jszip.min.js"></script>
    <script src="~/vendor/datatables/pdfmake.min.js"></script>
    <script src="~/vendor/datatables/vfs_fonts.js"></script>
    <script src="~/vendor/datatables/html5.min.js"></script>
    <script src="~/vendor/datatables/buttons.print.min.js"></script>



</body>

<div class="modal fade" id="applyForAuthor" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">العمل معنا ككاتب</h5>
            </div>
            <form class="needs-validation has-error">
                <input hidden type="text" id="userId" />
                <div class="modal-body">
                    <div class="form-group ">
                        <label class="control-label justify-content-start d-flex">الاسم كامل <label class="text-danger">*</label></label>
                        <input class="form-control" id="txtName" />
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group ">
                                <label class="control-label justify-content-start d-flex">التصنيف المفضل<label class="text-danger">*</label></label>
                                <select id="genre" class="form-select" asp-items="Html.GetEnumSelectList<Eqra.Models.Enum.Genre>()">
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group ">
                                <label class="control-label justify-content-start d-flex">عدد الكتب التي تم اصدارها<label class="text-danger">*</label></label>
                                <input id="numberOfBooks" value="0" min="0" type="number" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="control-label justify-content-start d-flex">نبذة عني</label>
                        <textarea id="bio" placeholder="قمت بكتابة عدة كتب في مختلف المجالات..." spellcheck="true" rows="3" maxlength="300" class="form-control"></textarea>
                        <h6 id="charLength">300</h6>
                    </div>


                </div>

                <div class="modal-footer">
                    <button class="btn" data-bs-dismiss="modal"><i class="flaticon-cancel-12"></i> الغاء</button>
                    <button type="button" id="submit" title="Add" class="btn btn-primary">انشاء</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function() {

        $("#popModal").click(function() {
            $("#applyForAuthor").modal('show')
        })

        $("#bio").on('input', function() {

            if (300 - $("#bio").val().length <= 15) {
                $("#charLength").addClass("text-danger")
            }
            else {
                $("#charLength").removeClass("text-danger")
            }

            $("#charLength").html(300 - $("#bio").val().length)

        })


        $("#submit").click(function() {

            if ($("#txtName").val() == "") {

                Swal.fire({
                    icon: 'error',
                    title: 'خطأ',
                    text: 'يجب ادخال الاسم',
                })

                return
            }

            var model = JSON.stringify({
                name: $("#txtName").val(),
                genre: $("#genre").val(),
                numberOfBooks: $("#numberOfBooks").val(),
                bio: $("#bio").val()
            })

            console.log(model)

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/Requests/Create",
                data: model,
                success: function(data) {

                    console.log(data)

                    if (data.correct == true) {

                        Swal.fire({
                            icon: 'success',
                            title: 'تم',
                            text: 'تم ارسال طلبك بنجاح',
                        })

                        $("#applyForAuthor").modal('hide')

                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'خطأ',
                            text: 'لقد قمت بتقديم طلب سابقا',
                        })
                    }

                },
                error: function() {
                    Swal.fire({
                        icon: 'error',
                        title: 'خطأ',
                        text: 'حدث خطأ في الطلب, حاول مجددا',
                    })
                }
            })

        })


    })

</script>

</html>