@model IEnumerable<Eqra.Models.Request>

@{
    ViewData["Title"] = "إقرأ - قائمة الطلبات";
}

<script>

    $(document).ready(function() {

        $('#tbl').DataTable({
            ordering: true,
            paging: true,
            searching: true,
            order: [[0, "desc"]]
        });

    })




</script>

<h3>الطلبات</h3>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">

            <table id="tbl" class="table v-middle">
                <thead>
                    <tr>
                        <th>
                            الاسم
                        </th>
                        <th>
                            رقم الجوال
                        </th>
                        <th>
                            البريد الالكتروني
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                            </td>
                            <td>
                                <h5>@Html.DisplayFor(modelItem => item.PhoneNumber)</h5>
                            </td>
                            <td>
                                <h5>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </h5>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id">تفاصيل الطلب <span class="icon-receipt"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>